ACR_HOST=identify-us-west-2.acrcloud.com
ACR_ACCESS_KEY=b6714182f7ea32fdedd3f32b0805881c
ACR_ACCESS_SECRET=gWHylgcXgHgaF104UKWFiiN0h6fvxI7nJdCQCaPa
RAPIDAPI_KEY=7044077731mshcdcc467ff5f8ef6p1e347cjsne3b7959bb3cd
## LRCLIB (Lyrics - no auth needed)
LRCLIB_API_URL=https://lrclib.net/api

## Optional: Shazam API fallback
# SHAZAM_API_KEY=your_shazam_key
